/* CONTACT DESIGN */

.contact-section {
    max-width: 700px;
    margin: 0 auto;
    padding: 4rem;
  }

  .contact-section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: normal;
  }

  .contact-section input,
  .contact-section textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 3px solid #59595d;
    border-radius: 4px;
    font-size: 1rem;
  }

  .contact-section input:focus,
  .contact-section textarea:focus {
    outline: none;
    border-color: #1539ee;
    border-width: 3px;
  }

  .contact-section button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: #000000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .contact-section button:hover {
    background: #1a1717;
  }

  /*.disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
    cursor: default;
    opacity: 0.6;
  }*/

  .social-links h4 {
    font-weight: normal;
     font-size: 1rem;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
    align-items: center;

  }

  .social-links a {
    font-size: 1rem;
    text-decoration: none;
    color: #edf0f1;
  }

  /* Utility class for accessible labels */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
  }

  .social-links a:hover {
    color: #0088a9;
}

@media(max-width: 700px){
  .social-text{
      display: none;
  }

  .fa-brands{
      font-size: 3rem;
      padding: 6px;
  }

  .social-links h4 {
    display: none;
  }
}