body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  
.display {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.convert_box {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.convert_button {
    padding: 8px;
    border-radius: 8px;
}